.b-content{
    margin: 32px 0px;
    *{
        color: unset;
    }
    p{
        font-size: .9rem;
        opacity: .9;
        line-height: 1.5rem;
        text-align: justify;
    }
    text-align: justify;
    line-height: normal;
}
.b-title{
    margin: 0;
}
.b-slug{

}