.statistics{
    &__card{
        background: $color-danger;
        color: $color-white;
        border-radius: 15px;
        height: 150px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        span:nth-child(1){
            align-self: flex-start;
            font-size: 1.3rem;
        }
        span:nth-child(2){
            align-self: flex-end;
            font-size: 3rem;
        }
        &--danger{
            background: $color-danger;
            color: $color-white;
            box-shadow: rgba($color-danger,.5) 0px 3px 8px;
        }
        &--primary{
            background: $color-primary;
            color: $color-white;
            box-shadow: rgba($color-primary,.5) 0px 3px 8px;
        }
        &--dark{
            background: $color-dark;
            color: $color-white;
            box-shadow: rgba($color-dark,.5) 0px 3px 8px;
        }
    }
}